 /* =====Plans =====*/
 
 .plans {
     background-color: #f1efef;
 }
 
 .content-plans {
     position: relative;
     /* display: flex; */
 }
 
 .title-plans {
     position: absolute;
     /* align-self: flex-start; */
     top: 2.9rem;
 }
 
 .plans h2 {
     color: #696666;
     font-size: 2em;
     width: 14rem;
 }
 
 .plans #ptop {
     color: #696666;
     font-size: .95em;
     width: 17rem;
 }
 
 .price-plans {
     display: flex;
     justify-content: space-between;
     margin: 2rem 0 2rem;
     transform: rotateX(180deg);
     transition: 1s;
 }
 
 .price-plans .plan {
     width: 15%;
     display: flex;
     flex-direction: column;
     transition: .4s;
 }
 
 .price-plans .plan:hover {
     transform: translateY(10px) scaleY(1.1);
     /* transition: .2s ease-in-out; */
 }
 
 .descripition {
     background-color: #2c82f3;
     display: flex;
     align-items: flex-end;
     text-align: center;
     color: white;
     transform: rotateX(-180deg);
 }
 
 .price {
     background-color: #0066ff;
     color: white;
     font-weight: 600;
     text-align: center;
     transform: rotateX(-180deg)
 }
 
 .descripition p {
     line-height: .9em;
     align-self: flex-end;
     margin-bottom: 1.5rem;
     /* 
     text-align: center; */
 }
 /* ====PLAN1 ===== */
 
 .price-plans .plan1 {
     height: 7rem;
 }
 
 .price-plans .plan1 .descripition {
     font-size: .6em;
     flex-basis: 60%;
 }
 /*===PLAN2 ===== */
 
 .price-plans .plan2 {
     height: 10rem;
 }
 
 .price-plans .plan2 .descripition {
     font-size: .6em;
     flex-basis: 65%;
 }
 /*===PLAN3 ===== */
 
 .price-plans .plan3 {
     height: 13rem;
 }
 
 .price-plans .plan3 .descripition {
     font-size: .6em;
     flex-basis: 70%;
 }
 /*===PLAN4 ===== */
 
 .price-plans .plan4 {
     height: 16rem;
 }
 
 .price-plans .plan4 .descripition {
     font-size: .6em;
     flex-basis: 75%;
 }
 /*===PLAN5 ===== */
 
 .price-plans .plan5 {
     height: 19rem;
 }
 
 .price-plans .plan5 .descripition {
     font-size: .6em;
     flex-basis: 80%;
 }
 /*===PLAN6 ===== */
 
 .price-plans .plan6 {
     height: 22rem;
 }
 
 .price-plans .plan6 .descripition {
     font-size: .6em;
     flex-basis: 85%;
 }
 
 @media (max-width:722px) {
     .price-plans {
         flex-wrap: wrap;
         margin-top: 10rem;
     }
     .content-plans {
         display: flex;
         justify-content: center;
     }
     .price-plans .plan:hover {
         transform: scaleY(1.1);
         /* transition: .2s ease-in-out; */
     }
     .content-plans .title-plans {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }
     .price-plans .plan {
         width: 40%;
         height: 5rem;
         display: flex;
         margin: 0.7rem 0;
         flex-direction: row;
     }
 }